name: Deploy Laravel Project on push to cpanel
on:
  push:
    branches:
      - main
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2' # Sesuaikan versi PHP

    - name: Create missing folders and set permissions
      run: |
        mkdir -p storage/framework/{sessions,views,cache}
        mkdir -p storage/logs
        mkdir -p bootstrap/cache
        chmod -R 777 storage bootstrap/cache
